
.paquetes {
	-webkit-transition: all .50s ease-in-out;
	   -moz-transition: all .50s ease-in-out;
	    -ms-transition: all .50s ease-in-out;
	     -o-transition: all .50s ease-in-out;
	        transition: all .50s ease-in-out;
	height: 550px;
	-webkit-filter: grayscale(50%); /* Safari */
    filter: grayscale(50%);
	background-size: 100% 100%;
}

.paquetes .item-container
 {
	padding: 0px;
	margin: 0px;
}

.paquetes .item {
	margin: 0px;
	padding: 0px;
	border: 2px solid purple;
	height: 275px;
	width: 100%;
}

.paquetes .item img {
	-webkit-filter: 0; /* Safari 6.0 - 9.0 */
    filter: 0;
	height: 100%;
	width: 100%;
}

.transparent {
	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}
